@media(max-width: 1600px){
  .main__page-content{
    max-width: 300px;
  }
}


@media(max-width: 1366px){
  .main__page-wrapper{
    display: flex;
    flex-direction: row-reverse;
  }
  .main__page-content{
    justify-content: flex-end;
  }
}

@media(max-width: 992px){
  .navbar__wrapper{
    grid-template-columns: 1fr 1fr;
  }
  .navbar__search-form--wrapper{
    display: none;
  }
  .navbar__items-auth{
    justify-content: flex-end;
  }
  .navbar__left-side{
    justify-content: flex-start;
  }
  .navbar__left-side .navbar__items{
    margin-left: 20px;
  }
  
}

@media(max-width: 768px){
  .navbar{
    min-height: 64px;
  }
  .navbar__inner{
    width: 100vw;
    left: 0;
    right: 0;
    position: absolute;
  }
  .navbar__wrapper{
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    z-index: 10;
    background-color: rgba(0, 0, 0, 0.90);;
    min-height: 100vh;
    display: flex;
    flex-direction: column-reverse;
    align-items: center;
    justify-content: center;
    transform: translateX(-200%);
    opacity: 0;
    visibility: hidden;
    transition: all ease-in-out 0.4s;
  }
  .navbar__wrapper.active{
    transform: translateX(0);
    opacity: 1;
    visibility: visible;
  }
  .navbar__inner .navbar__logo{
    position: absolute;
    display: inline-block;
    top: -7px;
    left: 20px;
  }
  .navbar__burger-wrapper{
    display: inline-block;
  }
  .navbar__items,
  .navbar__items-auth{
    flex-direction: column;
  }
  .navbar__items{
    padding-top: 74px;
  }
  .navbar__items-auth{
    position: relative;
    padding-bottom: 74px;
  }
  .navbar__items-auth:after{
    content: '';
    position: absolute;
    bottom: 0;
    height: 3px;
    width: 350px;
    background-color: #fff;
  }
  .navbar__item-auth + .navbar__item-auth,
  .navbar__item +  .navbar__item{
    margin-top: 28px;
  }
  .navbar__item-link{
    color: #FFF;
    font-size: 24px;
    font-weight: 700;
    line-height: 120%;
  }
  .navbar__item-auth:first-child::after{
    display: none;
  }
  .navbar__social{
    display: inline-block;
    padding-top: 142px;
  }
}