@import "vars";
@import "libs";
@import "fonts";
@import "global";


.navbar{
  background-color: #1A50DD;
  border-bottom: 1px solid #ffffff50;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 15;
  &__wrapper{
    display: grid;
    grid-template-columns: 1fr 800px 1fr;
    position: relative;
  }
  &__items,
  &__items-auth,
  &__left-side{
    display: flex;
    align-items: center;
  }
  &__left-side{
    margin-left: 21px;
    margin-right: 19px;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  &__logo{
    padding: 21px 0;
  }
  &__item{
    position: relative;
    transition: all ease-in-out 0.4s;
  }
  &__item-link{
    color: #FFF;
    font-size: 18px;
    font-weight: 400;
    line-height: 120%;
    padding: 5px 16px;
    transition: all ease .4s;
  }
  &__item-link:hover{
    background-color: #1644BB;
    padding: 5px 16px;
    border-radius: 4px;
  }
  &__search-form{
    position: absolute;
    top: 24px;
    left: 50%;
    transform: translateX(-50%);
    z-index: 6;
  }
  &__search-form--wrapper{
    height: 100%;
    border-left: 1px dotted  #ffffff50;
    border-right: 1px dotted  #ffffff50;
    position: relative;
    padding: 24px 0;
  }
  &__item-auth{
    margin-left: 10px;
  }
  &__item-auth + .navbar__item-auth{
    margin-left: 19px;
  }
  &__item-auth:first-child{
    position: relative;
  }
  &__item-auth:first-child::after{
    content: '';
    position: absolute;
    height: 100%;
    width: 1px;
    background-color: #FFF;
    right: -10px;
  }
  &__logo-img{
    width: 40px;
    height: 36px;
  }
  &__search-input{
    padding: 6px 6px 6px 36px;
    border-radius: 4px;
    border: 1px solid rgba(255, 255, 255, 0.17);
    background: rgba(255, 255, 255, 0.15);
    width: 271px;
    position: relative;
    font-size: 18px;
    color: #FFF;
    outline: 0;
  }
  &__search-button{
    position: absolute;
    z-index: 10;
    cursor: pointer;
    background-color: transparent;
    border: none;
    top: 60%;
    left: 4px;
    transform: translateY(-50%);
  }
  &__item:hover > .navbar__items-submenu{
    transform: rotateX(0deg);
    opacity: 1;
    visibility: visible;
  }
  &__items-submenu{
    position: absolute;
    margin-top: 10px;
    left: 0;
    background-color: #FFF;
    padding: 11px 70px 11px 20px;
    border-radius: 4px;
    transform: rotateX(90deg);
    transform-origin: top;
    opacity: 0;
    visibility: hidden;
    transition: all 0.4s ease-in-out;
  }
  &__item-submenu{
    margin-bottom: 10px;
  }
  &__item-submenu a{
    color: #282828;
    font-size: 12px;
    font-weight: 400;
    line-height: 120%;
    transition: all ease-in-out 0.4s;
  }
  &__item-submenu:hover a{
    color: #000;
  }
}

.main__page{
  background-color: #1A50DD;
  height: 100vh;
  position: relative;
  overflow: hidden;
}
.main__page-wrapper{
  position: relative;
  height: 100vh;
  width: 100%;
  display: grid;
  grid-template-columns: 1fr 800px 1fr;
}
.main__page-title--wrapper{
  position: absolute;
  max-width: 800px;
  width: 100%;
  height: 100%;
  border-left: 1px dotted  #ffffff50;
  border-right: 1px dotted  #ffffff50;
  top: 50%;
  left: 50%;
  z-index: 6;
  transform: translate(-50%, -50%);
  grid-column-start: 2;
  grid-column-end: 3;
}
.main__page-title--wrapper::after{
  content: '';
  position: absolute;
  left: calc(50% - 1px);
  height: 100%;
  width: 1px;
  border-left: 1px dotted  #ffffff50;
}

.main__page-bcg,
.main__page-title{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: -1;
}
.main__page-title{
  color: #F8F8F8;
  font-size: 96px;
  font-weight: 700;
  z-index: 5;
  white-space: nowrap;
  top: 52%;
}
.main__page-content{
  width: 360px;
  display: flex;
  align-items: end;
  grid-column-start: 3;
  grid-column-end: 4;
  margin-left: 10px;
  padding-bottom: 57px;
}
.main__page-text{
  color: #F8F8F8;
  font-size: 16px;
  font-weight: 400;
  line-height: 120%;
}
.main__page-image{
  position: absolute;
  right: 0;
  bottom: -110px;
}

.posts{
  &__title{
    color: #0047FF;
    font-size: 24px;
    font-weight: 600;
    line-height: 120%;
    margin-top: 130px;
    margin-bottom: 20px;
  }
  &__content .box {
    position: relative;
  }
  &__label{
    position: relative;
    padding-top: 21px;
    padding-bottom: 21px;
    border-bottom: 1px solid #E7E7E7;
    cursor: pointer;
  }
  &__content .box:first-child .label{
    border-top: 1px solid #E7E7E7;
  }
  &__content{
    margin-bottom: 120px;
  }
  &__title{
    color: #0047FF;
    font-size: 24px;
    font-weight: 600;
    line-height: 120%;
  }
  &__label-title{
    color: #282828;
    font-size: 14px;
    font-weight: 500;
    line-height: 120%;
  }
  &__label-subtitle{
    color: #000;
    font-size: 16px;
    font-weight: 500;
    line-height: 120%;
  }
  &__info-items{
    color: #282828;
    font-size: 14px;
    font-weight: 500;
    line-height: 120%;
  }
  &__info-items{
    display: flex;
  }
  &__label-wrapper,
    .box__content-inner{
    display: grid;
    grid-template-columns: 1fr 2fr 1fr 1fr;
  }
  &__content-wrapper{
    padding-top: 20px;
    padding-bottom: 74px;
    background-color: #0047FF;
  }
  &__label{
    transition: all ease-in-out 0.7s;
  }
  &__triangle-image{
    transition: all ease-in-out 0.6s;
    path{
      transition: all ease-in-out 0.6s;
    }
  }
  &__label.active{
    background-color: #0047FF; 
  }
  &__label.active .posts__label-title,
  &__label.active .posts__label-subtitle,
  &__label.active .posts__info-items{
    color: #fff;
  }
  &__label.active{
    border-bottom: 1px solid #0047FF;
  }
  &__label.active .posts__triangle-image {
    transform: rotate(210deg);
    path{
      fill: #fff;
    }
  }
  &__content .box .content {
    position: relative;
    background-color: #0047FF;
    overflow: hidden;
    max-height: 0;
    transition: all ease-in-out 0.4s;
  }
  &__content-text--wrapper{
    max-width: 380px;
    display: flex;
    align-items: end;
    height: 257px;
    padding: 0; 
  }
  &__content-image{
    height: 257px;
  }
  &__content-links{
    margin-top: 59px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }
  &__contents-button{
    color: #000;
    border-radius: 10px;
    background: #FFF;
    font-size: 9px;
    font-style: normal;
    font-weight: 500;
    line-height: 120%;
    padding: 3px 6px;
  }
  &__contents-button + .posts__contents-button{
    margin-left: 10px;
  }
  &__content-link{
    color: #FFF;
    font-size: 14px;
    font-weight: 500;
    line-height: 120%;
  }
  &__button-wrapper{
    display: flex;
    justify-content: flex-end;
    align-items: center;
    margin-right: 48px;
  }
  &__box:nth-child(even){
    background-color: #F2F6FF;
  }
  &__content-text{
    color: #FFF;
    font-size: 14px;
    font-weight: 500;
    line-height: 120%;
    padding: 0; 
  }
}

.article{
  margin-bottom: 120px;
  &__posts-watch{
    margin-bottom: 30px;
    color: #000;
    font-size: 16px;
    font-weight: 400;
    line-height: 120%; 
  }
  &__box{
    background-color: #F2F6FF;
    padding: 24px 0;
    display: grid;
    grid-template-columns: 1fr 3fr;
  }
  &__box-content{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }
  &__box-title{
    color: #000;
    font-size: 24px;
    font-weight: 500;
    line-height: 120%;
    margin-bottom: 10px;
  }
  &__box-text,
  &__bottom-tag{
    color: #000;
    font-size: 16px;
    font-weight: 400;
    line-height: 120%;
  }
  &__bottom-tag a{
    transition: all ease-in-out 0.4s;
  }
  &__bottom-tag:hover a{
    color: #0047FF;
  }
  &__button{
    margin-right: 95px;
    border-radius: 4px;
    background: #1A50DD;
    color: #FFF;
    font-size: 16px;
    font-weight: 400;
    line-height: 120%;
    padding: 10px 20px;
    transition: all ease-in-out 0.4s;
  }
  &__button:hover{
    background-color: #1644BB;
  }
  &__bottom-tags{
    display: flex;
    align-items: flex-end;
    gap: 5px;
    margin-left: 35px;
  }
  &__bottom--links{
    display: flex;
    align-items: flex-end;
    justify-content: space-between;
  }
  &__box-image {
    display: inline-block;
  }
  &__box-image img{
    margin-left: 20px;
  }
  &__box + .article__box{
    margin-top: 40px;
  }
  &__active-content{
    display: none;
  }
}

.article__box.active{
  background-color: #FFF;
  display: flex;
  flex-direction: column;
  .article__box-image{
    display: none;
  }
  .article__box-title{
    color: #282828;
    font-size: 40px;
    font-weight: 700;
    line-height: 120%;
  }
  .article__box-text{
    width: 620px;
  }
  .article__box-content--inner{
    margin-bottom: 60px;
  }
  .article__bottom--links{
    display: none;
  }
  .article__active-content{
    display: grid;
    grid-template-columns: 1fr 3fr;
  }
  .article__active-inner{
    grid-column-start: 2;
    grid-column-end: 3;
    display: grid;
    grid-template-columns: 1fr 1fr;
  }
  .article__active-gallery{
    grid-column-start: 2;
    grid-column-end: 3;
  }
  .article__active-info--title{
    color: #000;
    font-size: 24px;
    font-weight: 700;
    line-height: 120%;
    margin-bottom: 10px;
  }
  .article__active-info--subtitle{
    color: #000;
    font-size: 20px;
    font-weight: 500;
    line-height: 120%;
    margin-bottom: 10px;
  }
  .article__active-info--text{
    color: #000;
    font-size: 16px;
    font-weight: 400;
    line-height: 120%;
    max-width: 380px;
    margin-bottom: 40px;
  }
  .article__images-gallery{
    display: flex;
    justify-content: flex-end;
    gap: 11px;
    margin-right: 9px;
    margin-bottom: 90px;
  }
  .article__images-item{
    display: inline-block;
  }
  .article__images-item img{
    width: 120px;
    height: 111px;
    margin: 0;
  }
  .article__active-image{
    display: inline-block;
    margin-bottom: 40px;
  }
  .article__active-image img{
    width: 165px;
    height: 153px;
  }
}

.categories{
  &__title{
    color: #282828;
    font-size: 40px;
    font-weight: 700;
    line-height: 120%;
    margin-bottom: 40px;
  }
  &__wrapper{
    width: 100%;
    margin-bottom: 120px;
  }
  &__item{
    max-width: 380px;
    width: 100%;
    height: 201px;
    background-color: #F2F6FF;
    margin-left: 5px;
    margin-right: 5px;
    display: block;
    position: relative;
  }
  &__item-content{
    display: flex;
    justify-content: space-between;
    padding: 20px 10px;
  }
  &__item-title{
    color: #000;
    font-size: 24px;
    font-weight: 700;
    line-height: 120%;
  }
  &__item-title span{
    margin-right: 10px;
  }
  &__item-links{
    display: flex;
    flex-direction: column;
    align-items: flex-end;
  }
  &__item-link + .categories__item-link{
    margin-top: 5px;
  }
  &__item-link{
    color: #000;
    font-size: 16px;
    font-weight: 400;
    line-height: 120%;
  }
  &__item-button{
    color: #FFF;
    font-size: 16px;
    font-weight: 400;
    line-height: 120%;
    border-radius: 4px;
    background: #0047FF;
    padding: 10px 20px;
    position: absolute;
    bottom: 10px;
    right: 10px;
    transition: all ease-in-out 0.4s;
  }
  &__item-button:hover{
    background-color: #1644BB;
  }
}

.footer{
  background-color: #000;
  padding-top: 10px;
  color: #fff;
  &__wrapper{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: 1fr 1fr;
  }
  &__wrapper-item{
    margin-top: 30px;
  }
  &__logo{
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
  }
  &__logo-image{
    padding-top: 8px;
    padding-right: 23px;
  }
  &__logo-name{
    font-size: 40px;
    font-weight: 700;
    line-height: 120%;
    width: 184px;
  }
  &__title{
    font-size: 16px;
    font-weight: 700;
    line-height: 120%;
  }
  &__menu-title{
    margin-bottom: 16px;
  }
  &__stack-title{
    margin-bottom: 20px;
  }
  &__menu-link,
  &__stack-link{
    font-size: 12px;
    font-weight: 400;
    line-height: 120%;
    padding: 4px 0;
  }
  &__menu-item + footer__menu-item{
    margin-top: 12px;
  }
  &__stack-item + footer__stack-item{
    margin-top: 6px;
  }
  &__copyright{
    display: grid;
    grid-template-columns: 1fr 3fr;
    padding: 10px 0;
  }
  &__copyright-author{
    color: rgba(255, 250, 250, 0.50);
    font-size: 16px;
    font-weight: 500;
    line-height: 120%;
  }
  &__copyright-text{
    color: rgba(255, 255, 255, 0.50);
    font-size: 14px;
    font-weight: 500;
    line-height: 120%;
  }
  &__subscribe-title{
    max-width: 252px;
    color: #FFF;
    font-size: 16px;
    font-weight: 600;
    line-height: 120%;
    margin-bottom: 20px;
  }
  &__subscribe-input{
    color: rgb(255, 255, 255);
    font-size: 10px;
    font-weight: 500;
    line-height: 120%;
    border-radius: 4px;
    background: rgba(255, 255, 255, 0.10);
    border: none;
    padding: 10px;
    width: 178px;
    outline: 0;
  }
  &__subscribe-button{
    color: #FFF;
    font-size: 10px;
    font-weight: 500;
    padding: 10px 15px;
    border: none;
    border-radius: 4px;
    background: #0047FF;
    margin-right: 10px;
    transition: all ease-in-out 0.4s;
  }
  &__subscribe-button:hover{
    background-color: #1644BB;
  }
  &__subscribe-input::placeholder{
    color: rgba(255, 255, 255, 0.30);
    font-size: 10px;
  }
  &__address{
    grid-column-start: 2;
    grid-column-end: 3;
  }
  &__rules{
    grid-column-start: 3;
    grid-column-end: 4;
  }
  &__social{
    grid-column-start: 4;
    grid-column-end: 5;
  }
}



@import "media";