@import "vars";
@import "libs";
@import "fonts";
@import "global";


.navbar{
  background: linear-gradient(107deg, #2753C6 -0.63%, #593EFF 100.55%);
  border-bottom: 1px solid #ffffff50;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 15;
  &__inner{
    position: relative;
  }
  &__wrapper{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    position: relative;
  }
  &__items,
  &__items-auth,
  &__left-side{
    display: flex;
    align-items: center;
  }
  &__left-side{
    margin-left: 140px;
    margin-right: 19px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    padding: 30px 0;
  }
  &__logo{
    padding: 21px 0;
    position: absolute;
  }
  &__item{
    position: relative;
    transition: all ease-in-out 0.4s;
  }
  &__item-link{
    color: #FFF;
    font-size: 18px;
    font-weight: 400;
    line-height: 120%;
    padding: 5px 16px;
    transition: all ease .4s;
  }
  &__item-link:hover{
    background-color: #1644BB;
    padding: 5px 16px;
    border-radius: 4px;
  }
  &__search-form{
    position: absolute;
    top: 24px;
    left: 50%;
    transform: translateX(-50%);
    z-index: 6;
  }
  &__search-form--wrapper{
    height: 100%;
    position: relative;
    padding: 24px 0;
  }
  &__items-auth{
    justify-content: flex-end;
  }
  &__item-auth{
    margin-left: 10px;
  }
  &__item-auth + .navbar__item-auth{
    margin-left: 19px;
  }
  &__item-auth:first-child{
    position: relative;
  }
  &__item-auth:first-child::after{
    content: '';
    position: absolute;
    height: 100%;
    width: 1px;
    background-color: #FFF;
    right: -10px;
  }
  &__logo-img{
    width: 40px;
    height: 36px;
  }
  &__search-input{
    padding: 6px 6px 6px 36px;
    border-radius: 4px;
    border: 1px solid rgba(255, 255, 255, 0.17);
    background: rgba(255, 255, 255, 0.15);
    width: 485px;
    position: relative;
    font-size: 18px;
    color: #FFF;
    outline: 0;
  }
  &__search-button{
    position: absolute;
    z-index: 10;
    cursor: pointer;
    background-color: transparent;
    border: none;
    top: 60%;
    left: 4px;
    transform: translateY(-50%);
  }
  &__item:hover > .navbar__items-submenu{
    transform: rotateX(0deg);
    opacity: 1;
    visibility: visible;
  }
  &__items-submenu{
    position: absolute;
    margin-top: 10px;
    left: 0;
    background-color: #FFF;
    box-shadow: 0px 7px 7px 0px rgba(192, 192, 192, 0.5);
    padding: 11px 20px;
    border-radius: 4px;
    transform: rotateX(90deg);
    transform-origin: top;
    opacity: 0;
    visibility: hidden;
    transition: all 0.4s ease-in-out;
  }
  &__item-submenu{
    margin-bottom: 10px;
  }
  &__item-submenu a{
    color: #282828;
    font-size: 12px;
    font-weight: 400;
    line-height: 120%;
    white-space: nowrap;
    transition: all ease-in-out 0.4s;
  }
  &__item-submenu:hover a{
    color: #000;
  }
  &__burger-wrapper{
    position: absolute;
    top: 30px;
    right: 20px;
    z-index: 100;
    cursor: pointer;
    transition: all 1.1s;
    display: none;
  }
  &__line{
    height: 4px;
    width: 23px;
    position: relative;
    background-color: #FFF;
    z-index: -1;
  }
  &__line::after,
  &__line::before{
    content: '';
    position: absolute;
    height: 100%;
    width: 100%;
    background-color: #FFF;
    left: 0;
    transition-property: top, bottom;
    transition: 0.5s ease;
  }
  &__line::after{
    top: 8px;
  }
  &__line::before{
    bottom: 8px;
  }
  &__burger-wrapper.active{
    transform: rotate(360deg);
  }
  &__burger-wrapper.active .navbar__line{
    background-color: transparent;
  }
  &__burger-wrapper.active .navbar__line::before{
    top: 0;
    transform: rotate(45deg);
  }
  &__burger-wrapper.active .navbar__line::after{
    top: 0;
    transform: rotate(-45deg);
  }
  &__social{
    color: #fff;
    display: none;
  }
}

.main__page{
  position: relative;
  margin-bottom: 100px;
  padding-top: 230px;
}
.main__page-bcg{
  position: absolute;
  top: 104px;
}
.main__page-wrapper{
  width: 100%;
}
.main__page-title--wrapper{
  width: 100%;
  height: 100%;
  z-index: 6;
}
.main__page-title{
  @include adaptiv-font(48, 38);
  font-weight: 700;
  white-space: nowrap;
  color: #2D5E8B;
  font-weight: 700;
}
.main__page-content{
  width: 520px;
  margin-top: 30px;
  display: flex;
  margin-left: auto;
  margin-right: auto;
  padding-left: 24px;
}
.main__page-text{
  color: #080809;
  font-size: 14px;
  font-weight: 400;
  line-height: 150%;
}
.main__page-image{
  position: absolute;
  right: 0;
  bottom: -320px;
}

.posts{
  margin-bottom: 100px;
  &__title{
    color: #0047FF;
    font-size: 24px;
    font-weight: 600;
    line-height: 120%;
    margin-bottom: 20px;
  }
  &__content .box {
    position: relative;
  }
  &__label{
    position: relative;
    padding-top: 21px;
    padding-bottom: 21px;
    border-bottom: 1px solid #E7E7E7;
    cursor: pointer;
  }
  &__content .box:first-child .label{
    border-top: 1px solid #E7E7E7;
  }
  &__title{
    color: #1A50DD;
    padding-left: 20px;
    font-size: 24px;
    font-weight: 600;
    line-height: 120%; 
  }
  &__label-title{
    color: #282828;
    font-size: 14px;
    font-weight: 500;
    line-height: 120%;
  }
  &__label-subtitle{
    padding-left: 10px;
    color: #000;
    font-size: 16px;
    font-weight: 500;
    line-height: 120%;
  }
  &__info-inner{
    display: flex;
    justify-content: space-between;
  }
  &__info-items{
    color: #282828;
    font-size: 14px;
    font-weight: 500;
    line-height: 1;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 10px;
    transition: all ease-in-out 0.7s;
  }
  &__info-item{
    position: relative;
    padding-right: 10px;
    white-space: nowrap;
    line-height: 1.4;
  }
  &__info-item::after{
    content: '';
    position: absolute;
    height: 80%;
    width: 1px;
    background-color: #282828;
    right: 0;
    top: 0;
  }
  &__info-item:last-child::after{
    display: none;
  }
  &__info-author{
    text-align: end;
  }
  &__info-date{
    text-align: center;
  }
  &posts__info-viewing{
    text-align: start;
  }
  &__label-wrapper,
    .box__content-inner{
    display: grid;
    grid-template-columns: 1.5fr 2fr 2fr;
  }
  &__content-wrapper{
    padding-bottom: 74px;
    background-color: #F2F6FF;
  }
  &__label{
    transition: all ease-in-out 0.7s;
  }
  &__info-close--button{
    margin-left: auto;
  }
  &__content .box .content {
    position: relative;
    background-color: #0047FF;
    overflow: hidden;
    max-height: 0;
    transition: all ease-in-out 0.4s;
  }
  &__content-text--wrapper{       
    max-width: 80%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 0 10px;
    grid-column-start: 2;
    grid-column-end: 3;
  }
  &__image-wrapper{
    grid-column-start: 1;
    grid-column-end: 2;
    display: none;
  }
  &__content-image{
    height: 200px;
    width: 355px;
    position: absolute;
    top: 50%;
    z-index: 50;
  }
  &__content-links{
    margin-top: 49px;
    padding-left: 40px;
    padding-right: 45px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    grid-column-start: 3;
    grid-column-end: 4;
  }
  &__contents-buttons{
    padding-left: 5px;
    padding-right: 5px;
    display: flex;
    gap: 5px;
    flex-wrap: wrap;
  }
  &__contents-button{
    color: #fff;
    background: #1A50DD;
    font-size: 9px;
    font-style: normal;
    font-weight: 500;
    line-height: 1;
    padding: 6px;
    white-space: nowrap;
  }
  &__content-link{
    color: #1A50DD;
    font-size: 14px;
    font-weight: 500;
    line-height: 120%;
  }
  &__content-link:hover{
    text-decoration: underline;
  }
  &__button-wrapper{
    display: flex;
    justify-content: flex-end;
    align-items: center;
    margin-right: 48px;
  }
  &__box{
    transition: all ease-in-out 0.4s;
  }
  &__box:hover{
    background-color: #F2F6FF;
  }
  &__content-text{
    color: #282828;
    font-size: 14px;
    font-weight: 500;
    line-height: 120%;
    padding: 0; 
  }
  // Active
  &__label.active{
    background-color: #F2F6FF;
    border: none;
    padding-bottom: 0;
  }
  &__label.active .posts__info-items{
    padding-left: 30px;
    color: #28282880;
  }
  &__label.active .posts__label-title{
    grid-column-start: 2;
    grid-column-end: 3;
    padding-left: 10px;
    margin-bottom: 7px;
  }
  &__label.active .posts__label-subtitle{
    grid-column-start: 2;
    grid-column-end: 3;
    color: #282828;
    font-weight: 700;
    margin-bottom: 2px;
  }
  &__label.active .posts__image-wrapper{
    display: block;
    width: 100%;
    height: 100%;
  }
  &__label.active .posts__triangle-image{
    fill{
      color: #28282880;
    };
  }
}

.article{
  margin-bottom: 120px;
  &__posts-watch{
    margin-bottom: 30px;
    color: #000;
    font-size: 16px;
    font-weight: 400;
    line-height: 120%; 
  }
  &__box{
    background-color: #F2F6FF;
    padding: 24px 0;
    display: grid;
    grid-template-columns: 1fr 3fr;
  }
  &__box-content--inner{
    padding-right: 20px;
    padding-bottom: 20px;
  }
  &__box-content{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }
  &__box-title{
    color: #000;
    font-size: 24px;
    font-weight: 500;
    line-height: 120%;
    margin-bottom: 10px;
  }
  &__box-text,
  &__bottom-tag{
    color: #000;
    font-size: 16px;
    font-weight: 400;
    line-height: 120%;
  }
  &__bottom-tag a{
    transition: all ease-in-out 0.4s;
  }
  &__bottom-tag:hover a{
    color: #0047FF;
  }
  &__button{
    margin-right: 95px;
    border-radius: 4px;
    background: #1A50DD;
    color: #FFF;
    font-size: 16px;
    font-weight: 400;
    line-height: 120%;
    padding: 10px 20px;
    transition: all ease-in-out 0.4s;
  }
  &__button:hover{
    background-color: #1644BB;
  }
  &__bottom-tags{
    display: flex;
    align-items: flex-end;
    gap: 10px;
    padding-right: 20px;
    flex-wrap: wrap;
  }
  &__bottom--links{
    display: flex;
    align-items: flex-end;
    justify-content: space-between;
  }
  &__box-image {
    display: inline-block;
  }
  &__box-image img{
    margin-left: 20px;
    margin-right: 35px;
    width: 354px;
    height: 370px;
  }
  &__box + .article__box{
    margin-top: 40px;
  }
  &__active-content{
    display: none;
  }
}

.article__box.active{
  background-color: #FFF;
  display: flex;
  flex-direction: column;
  .article__box-image{
    display: none;
  }
  .article__box-title{
    font-size: 24px;
    font-weight: 700;
    line-height: 120%;
    color: #1A50DD;
    padding-right: 20px;

  }
  .article__box-text{
    width: 70%;
  }
  .article__box-content--inner{
    margin-bottom: 60px;
    padding-bottom: 20px;
  }
  .article__bottom--links{
    display: none;
  }
  .article__active-content{
    display: grid;
    grid-template-columns: 1fr 3fr;
  }
  .article__active-inner{
    grid-column-start: 2;
    grid-column-end: 3;
    display: grid;
    grid-template-columns: 1fr 1fr;
  }
  .article__active-gallery{
    grid-column-start: 2;
    grid-column-end: 3;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
  }
  
  .article__active-info--title{
    color: #000;
    font-size: 24px;
    font-weight: 700;
    line-height: 120%;
    margin-bottom: 10px;
    padding-right: 10px;
  }
  .article__active-info--subtitle{
    color: #000;
    font-size: 20px;
    font-weight: 500;
    line-height: 120%;
    margin-bottom: 10px;
    padding-right: 10px;
  }
  .article__active-info--text{
    color: #000;
    font-size: 16px;
    font-weight: 400;
    line-height: 120%;
    max-width: 380px;
    padding-bottom: 40px;
    padding-right: 10px;
  }
  .article__active-info--text span{
    color: #0047FF;
  }
  .article__images-gallery{
    display: flex;
    justify-content: flex-start;
    gap: 11px;
    margin-right: 9px;
  }
  .article__images-item{
    display: inline-block;
  }
  .article__images-item img{
    width: 120px;
    height: 111px;
    margin: 0;
  }
  .article__active-image{
    display: inline-block;
    margin-bottom: 40px;
  }
  .article__active-image img{
    width: 165px;
    height: 153px;
  }
}

.categories{
  margin-bottom: 120px;
  background-color: #FAFAFA;
  padding-top: 40px;
  padding-bottom: 40px;
  &__title{
    font-size: 24px;
    font-weight: 700;
    line-height: 120%;
    margin-bottom: 45px;
    color: #1A50DD;
  }
  &__wrapper{
    width: 100%;
    height: 100%;
  }
  &__items{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-column-gap: 10px;
    grid-row-gap: 10px;
    min-height: 100%;
  }
  &__item{
    width: 100%;
    border-radius: 10px;
    background-color: #fff;
    box-shadow: 0px 7px 7px 0px rgba(192, 192, 192, 0.5);
    transition: all ease-in-out 0.4s;
    min-height: 250px;
  }
  &__item-content{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 20px;
    width: 100%;
    min-height: 100%;
  }
  &__item-title{
    color: #282828;
    font-size: 18px;
    font-weight: 700;
    line-height: 120%;
    padding-bottom: 10px;
    margin-bottom: 10px;
    border-bottom: 1px solid #1A50DD;
  }
  &__item-title span{
    margin-right: 10px;
  }
  &__item-links{
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: flex-start;
    padding-bottom: 10px;
    
  }
  &__item-link{
    color: #4D647A;
    font-size: 14px;
    font-weight: 400;
    line-height: 120%;
    display: block;
    white-space: nowrap;
    transition: all ease-in-out 0.4s;
    margin-bottom: 5px;
  }
  &__item-link:last-child{
    margin-bottom: 15px;
  }
  &__item-link:hover{
    color: #4D647A;
  }
  &__item-button{
    color: #1A50DD;
    font-size: 12px;
    font-weight: 400;
    line-height: 120%;
    flex-shrink: 0;
    text-decoration-line: underline;
    transition: all ease-in-out 0.4s;
  }
  &__item-button:hover{
    color: #1644BB;
  }

  &__item:hover{
    background-color: #2D5E8B;
  }
  &__item:hover .categories__item-title{
    color: #fff;
    border-bottom: 1px solid #fff;
  }
  &__item:hover .categories__item-link{
    color: #fff;
  }
  &__item:hover .categories__item-button{
    color: #fff;
  }
}

.footer{
  background-color: #000;
  padding-top: 10px;
  color: #fff;
  &__wrapper{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: 1fr 1fr;
  }
  &__wrapper-item{
    margin-top: 30px;
  }
  &__logo{
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
  }
  &__logo-image{
    padding-top: 8px;
    padding-right: 23px;
  }
  &__logo-name{
    font-size: 40px;
    font-weight: 700;
    line-height: 120%;
    width: 184px;
  }
  &__title{
    font-size: 16px;
    font-weight: 700;
    line-height: 120%;
  }
  &__menu-title{
    margin-bottom: 16px;
  }
  &__stack-title{
    margin-bottom: 20px;
  }
  &__menu-link,
  &__stack-link{
    font-size: 12px;
    font-weight: 400;
    line-height: 120%;
    padding: 4px 0;
  }
  &__menu-item + footer__menu-item{
    margin-top: 12px;
  }
  &__stack-item + footer__stack-item{
    margin-top: 6px;
  }
  &__copyright{
    display: grid;
    grid-template-columns: 1fr 3fr;
    padding: 10px 0;
  }
  &__copyright-author{
    color: rgba(255, 250, 250, 0.50);
    font-size: 16px;
    font-weight: 500;
    line-height: 120%;
  }
  &__copyright-text{
    color: rgba(255, 255, 255, 0.50);
    font-size: 14px;
    font-weight: 500;
    line-height: 120%;
  }
  &__subscribe-title{
    max-width: 252px;
    color: #FFF;
    font-size: 16px;
    font-weight: 600;
    line-height: 120%;
    margin-bottom: 20px;
  }
  &__subscribe-input{
    color: rgb(255, 255, 255);
    font-size: 10px;
    font-weight: 500;
    line-height: 120%;
    border-radius: 4px;
    background: rgba(255, 255, 255, 0.10);
    border: none;
    padding: 10px;
    width: 178px;
    outline: 0;
  }
  &__subscribe-button{
    color: #FFF;
    font-size: 10px;
    font-weight: 500;
    padding: 10px 15px;
    border: none;
    border-radius: 4px;
    background: #0047FF;
    margin-right: 10px;
    transition: all ease-in-out 0.4s;
  }
  &__subscribe-button:hover{
    background-color: #1644BB;
  }
  &__subscribe-input::placeholder{
    color: rgba(255, 255, 255, 0.30);
    font-size: 10px;
  }
  &__address{
    grid-column-start: 2;
    grid-column-end: 3;
  }
  &__rules{
    grid-column-start: 3;
    grid-column-end: 4;
  }
  &__social{
    grid-column-start: 4;
    grid-column-end: 5;
  }
}



@import "media";