@import "vars";
@import "libs";
@import "fonts";
@import "global";


.navbar{
  background-color: #1A50DD;
  border-bottom: 1px solid #ffffff50;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 15;
  &__wrapper{
    display: grid;
    grid-template-columns: 1fr 800px 1fr;
    position: relative;
  }
  &__items,
  &__items-auth,
  &__left-side{
    display: flex;
    align-items: center;
  }
  &__left-side{
    margin-left: 21px;
    margin-right: 19px;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  &__logo{
    padding: 21px 0;
  }
  &__item-link{
    font-family: 'Gilroy';
    color: #FFF;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 120%;
    padding: 5px 16px;
    transition: all ease .4s;
  }
  &__item-link:hover{
    background-color: #1644BB;
    padding: 5px 16px;
    border-radius: 4px;
  }
  &__search-form{
    position: absolute;
    top: 24px;
    left: 50%;
    transform: translateX(-50%);
    z-index: 6;
  }
  &__search-form--wrapper{
    height: 100%;
    border-left: 1px dotted  #ffffff50;
    border-right: 1px dotted  #ffffff50;
    position: relative;
    padding: 24px 0;
  }
  &__item-auth{
    margin-left: 10px;
  }
  &__item-auth + .navbar__item-auth{
    margin-left: 19px;
  }
  &__item-auth:first-child{
    position: relative;
  }
  &__item-auth:first-child::after{
    content: '';
    position: absolute;
    height: 100%;
    width: 1px;
    background-color: #FFF;
    right: -10px;
  }
  &__logo-img{
    width: 40px;
    height: 36px;
  }
  &__search-input{
    padding: 6px 6px 6px 36px;
    border-radius: 4px;
    border: 1px solid rgba(255, 255, 255, 0.17);
    background: rgba(255, 255, 255, 0.15);
    width: 271px;
    position: relative;
    font-size: 18px;
    font-family: 'Gilroy';
    color: #FFF;
    outline: 0;
  }
  &__search-button{
    position: absolute;
    z-index: 10;
    cursor: pointer;
    background-color: transparent;
    border: none;
    top: 60%;
    left: 4px;
    transform: translateY(-50%);
  }
}

.main__page{
  background-color: #1A50DD;
  height: 100vh;
  position: relative;
  overflow: hidden;
}
.main__page-wrapper{
  position: relative;
  height: 100vh;
  width: 100%;
  display: grid;
  grid-template-columns: 1fr 800px 1fr;
}
.main__page-title--wrapper{
  position: absolute;
  max-width: 800px;
  width: 100%;
  height: 100%;
  border-left: 1px dotted  #ffffff50;
  border-right: 1px dotted  #ffffff50;
  top: 50%;
  left: 50%;
  z-index: 6;
  transform: translate(-50%, -50%);
  grid-column-start: 2;
  grid-column-end: 3;
}
.main__page-title--wrapper::after{
  content: '';
  position: absolute;
  left: calc(50% - 1px);
  height: 100%;
  width: 1px;
  border-left: 1px dotted  #ffffff50;
}

.main__page-bcg,
.main__page-title{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: -1;
}
.main__page-title{
  color: #F8F8F8;
  font-family: 'Gilroy';
  font-size: 96px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  z-index: 5;
  white-space: nowrap;
  top: 52%;
}
.main__page-content{
  width: 360px;
  display: flex;
  align-items: end;
  grid-column-start: 3;
  grid-column-end: 4;
  margin-left: 10px;
  padding-bottom: 57px;
}
.main__page-text{
  color: #F8F8F8;
  font-family: 'Gilroy';
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 120%;
}
.main__page-image{
  position: absolute;
  right: 0;
  bottom: -110px;
}



.posts__title{
  color: #0047FF;
  font-family: Gilroy;
  font-size: 24px;
  font-style: normal;
  font-weight: 600;
  line-height: 120%;
  margin-top: 130px;
  margin-bottom: 20px;
}
.posts__content .box {
  position: relative;
}
.posts__label{
  position: relative;
  padding-top: 21px;
  padding-bottom: 21px;
  border-bottom: 1px solid #E7E7E7;
  cursor: pointer;
}
.posts__content .box:first-child .label{
  border-top: 1px solid #E7E7E7;
}
.posts__content{
  margin-bottom: 60px;
}
.posts__title{
  color: #0047FF;
  font-family: 'Gilroy';
  font-size: 24px;
  font-style: normal;
  font-weight: 600;
  line-height: 120%;
}
.posts__label-title{
  color: #282828;
  font-family: 'Gilroy';
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  line-height: 120%;
}
.posts__label-subtitle{
  color: #000;
  font-family: 'Gilroy';
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: 120%;
}
.posts__info-items{
  color: #282828;
  font-family: 'Gilroy';
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  line-height: 120%;
}
.posts__info-items{
  display: flex;
}
.posts__label-wrapper,
  .box__content-inner{
  display: grid;
  grid-template-columns: 1fr 2fr 1fr 1fr;
}
.posts__content-wrapper{
  padding-top: 20px;
  padding-bottom: 74px;
  background-color: #0047FF;
}
.posts__label{
  transition: all ease-in-out 0.7s;
}
.posts__triangle-image{
  transition: all ease-in-out 0.6s;
}
.posts__label.active{
  background-color: #0047FF; 
}
.posts__label.active .posts__label-title,
.posts__label.active .posts__label-subtitle,
.posts__label.active .posts__info-items{
  color: #fff;
}
.posts__label.active{
  border-bottom: 1px solid #0047FF;
}
.posts__label.active .posts__triangle-image {
  transform: rotate(210deg);
}
.posts__content .box .content {
  position: relative;
  background-color: #0047FF;
  overflow: hidden;
  max-height: 0;
  transition: all ease-in-out 0.4s;
}
.posts__content-text--wrapper{
  max-width: 380px;
  display: flex;
  align-items: end;
  height: 257px;
  padding: 0; 
}
.posts__content-image{
  height: 257px;
}
p.posts__content-text{
  color: #FFF;
  font-family: 'Gilroy';
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  line-height: 120%;
  padding: 0; 
}
.posts__content-links{
  margin-top: 59px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.posts__contents-button{
  color: #000;
  border-radius: 10px;
  background: #FFF;
  font-family: 'Gilroy';
  font-size: 9px;
  font-style: normal;
  font-weight: 500;
  line-height: 120%;
  padding: 3px 6px;
}
.posts__contents-button + .posts__contents-button{
  margin-left: 10px;
}
.posts__content-link{
  color: #FFF;
  font-family: 'Gilroy';
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  line-height: 120%;
}
.posts__button-wrapper{
  display: flex;
  justify-content: flex-end;
  align-items: center;
  margin-right: 48px;
}




@import "media";